.md-nav--secondary .md-nav__title[for="__toc"] {
  color: #ff4081;
  font-size: 1.1rem;
}


.srl-table table {
  border-collapse: separate !important;
  border-spacing: 0;
}

.srl-table td:nth-child(2),
.srl-table th:nth-child(2) {
  background: #F0F0F0 !important;
}

.srl-table td:nth-child(2) span {
  display: inline-block;
  padding: 0.2em 0.5em;
  margin: 0.1em;
  background: white;
  border: 1px solid #7A7A7A;
  border-radius: 2px;
}


.srl-table td:nth-child(1),
.srl-table th:nth-child(1) {
  background: #F0F0F0;
}


.md-grid {
    max-width: 90%;
}

.md-sidebar--primary {
    width: 15rem;
}